dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash-renderer
Flask
Flask-Compress
yfinance
gunicorn
keras
lxml
numpy
pandas
plotly
scikit-learn
scipy
sklearn
tensorflow